# Terraform specific
**/.terraform/*
*.tfstate
*.tfstate.*
.terraform.tfstate.lock.info

# Crash log files
crash.log
crash.*.log

# Sensitive Terraform variable files
*.tfvars
*.tfvars.json

# Terraform override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Node.js (React.js frontend)
node_modules/
npm-debug.log
yarn.lock
package-lock.json
dist/
build/

# Python (Django backend)
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env
env/
db.sqlite3

# Logs
logs/
*.log
